{{>layout/header}}
    <h1>메인페이지</h1>
    <div class="col-md-12">
        <div class="low">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            </div>
        </div>
    </div>

{{>layout/footer}}
